[*]
indent_style=space

# Default severity for analyzer diagnostics with category 'Assertion'
dotnet_analyzer_diagnostic.category-Assertion.severity = silent

dotnet_sort_system_directives_first = true

[*.{xml,ps1xml,html}]
indent_size=2

[*.cs]
file_header_template = Copyright (c) Timofei Zhakov. All rights reserved.

# CS0659: Le type se substitue à Object.Equals(object o) mais pas à Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent
