.container {
    max-width: 1000px;
}

body {
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

.navbar-nav {
    margin-top: 0.15rem;
}

p {
    margin-bottom: 0.5rem;
}

pre {
    background: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-tertiary-color);
    border-left: 3px solid var(--bs-white);
    color: var(--bs-body-color);
    line-height: 1.6;
    word-wrap: break-word;
    padding: 0.7rem 0.3rem 0.1rem 0.3rem;
    border-radius: .2rem;
    position: relative;
}

code::before{
    /* content: 'code'; */
    font-size: 12px;
    font-family: monospace;
    position: absolute;
    top: -0.1rem;
    left: 1rem;
}

.language-shell::before {
    content: 'bash';
}

.language-powershell::before {
    content: 'powershell';
}
