<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="PoshSvn"
           Manufacturer="Rinrab"
           Version="1.0.0.0"
           UpgradeCode="2223213a-2458-4706-b606-54a455bcae05">

    <WixVariable Id="WixUILicenseRtf"
                 Value="LICENSE.rtf" />

    <Property Id="ApplicationFolderName" Value="PoshSvn" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <UIRef Id="PoshSvn_UI" />

    <MajorUpgrade AllowDowngrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="PoshSvn" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="ModulesFolder" Name="Modules" />
    </DirectoryRef>

    <DirectoryRef Id="ModulesFolder">
      <Directory Id="PoshSvnModuleFolder" Name="PoshSvn" />
    </DirectoryRef>

    <Feature Id="PoshSvnModule"
             Title="!(loc.PoshSvnFeatureTitle)"
             Description="!(loc.PoshSvnFeatureDescription)">

      <ComponentGroupRef Id="PoshSvnModuleFiles" />

      <Component Id="SystemPSModulePath"
                 Guid="{284B5941-7A10-475E-B321-356D25A80045}"
                 Condition="ALLUSERS=1">

        <Environment Name="PSModulePath"
                     Value="[ModulesFolder]"
                     Part="last"
                     Permanent="no"
                     Action="set"
                     System="yes"/>
      </Component>

      <Component Id="UserPSModulePath"
                 Guid="{10D679D7-0047-4AED-8BE4-C09A42D37106}"
                 Condition="NOT ALLUSERS=1">

        <Environment Name="PSModulePath"
                     Value="[ModulesFolder]"
                     Part="last"
                     Permanent="no"
                     Action="set"
                     System="no"/>
      </Component>
    </Feature>

  </Package>

</Wix>
