<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="PoshSvn"
           Manufacturer="Rinrab"
           Version="1.0.0.0"
           UpgradeCode="2223213a-2458-4706-b606-54a455bcae05"
           Scope="perUserOrMachine">

    <MajorUpgrade AllowDowngrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <WixVariable Id="WixUILicenseRtf"
                 Value="LICENSE.rtf" />

    <UIRef Id="PoshSvn_UI" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="PoshSvn" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="ModulesFolder" Name="Modules" />
    </DirectoryRef>

    <DirectoryRef Id="ModulesFolder">
      <Directory Id="PoshSvnModuleFolder" Name="PoshSvn" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="SubversionDirectory" Name="Subversion" />
    </DirectoryRef>

    <FeatureRef Id="PoshSvn" />

  </Package>

</Wix>
